// Moves the calendar on the booking page to the left 
.mvvwb_showInline .flatpickr-calendar {
    margin: 0;
}

// Changes the onsale tag from wordpress
.woocommerce #page .onsale {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 0.8em;
    background-color: #f69581;
}

// Makes the product meta display none
.product_meta {
    display: none;
}