.wp-block-gallery {
    .wp-card {
        overflow: hidden;
        box-shadow: 0.5px 0.5px 10px #333;
        transition: box-shadow ease-in-out 0.25s;

        img {
            transition: transform ease-in-out 0.25s;
        }

        &:hover {
            box-shadow: 5px 5px 10px #333;

            &.-link {
                figcaption::after {
                    right: 4px;
                }
            }

            img {
                transform: scale(110%);
            }
        }

        figcaption {
            display: flex;
            font-size: 14px !important;
            align-items: center;
            padding: 8px !important;
            background: #fff !important;
            color: #000 !important;
            font-weight: 900;
            text-align: start;
            vertical-align: middle;
        }
        
        &.-link {
            display: block;

            figcaption::after {
                content: "";
                position: absolute;
                right: 8px;
                display: block;
                width: 24px;
                height: 24px;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' %3E%3Cline x1='5' y1='12' x2='19' y2='12'/%3E%3Cpolyline points='12 5 19 12 12 19'/%3E%3C/svg%3E");
                transition: right ease-in-out 0.25s;
            }
        }
    }
}