.main-navigation ul {
    .menu-item {
        // changed text styling of menu items
        @media (min-width: 1024px) {
            .menu-first {
                font-size: 1.4em;
                font-weight: 900;
            }

            // added a hover to text under the main text
            .menu-rest {
                color: transparent;
            }

            &:hover {
                .menu-rest{
                    color: #f69581;
                }
            }
        }

        // changed the font family and size of sub menu
        .sub-menu {
            .menu-item{
                font-family: 'Clean Up Your Mess';
                font-size: 1em;
                font-weight: 500;
            }
        }
    }
} 