.archive {
    #page {
        .page-title {
            font-size: 0px;
            
            span {
                font-size: 44px;
            }
        }
        
        .products .product {
            h2 {
                font-size: var(--wp--preset--font-size--large);
                grid-area: b;
            }
        }
    }

    &.term-23 .products .product {
        width: 100%;
        margin: 0;
        padding: 0;
        
        @media (min-width: 768px) {
            .add_to_cart_button {
                position: static;
                display: block;
                width: fit-content;
                min-width: 0;
                margin-left: auto;
                opacity: 1;
                transform: translateY(-100%);
            }

            .woocommerce-loop-product__link {
                display: grid;
                grid-template-columns: 1fr 2fr;
                grid-template-rows: auto auto 1fr;
                grid-template-areas:
                "a b"
                "a c"
                "a d";
                text-align: left;

                > *:not(img) {
                    padding-left: 4rem;
                }

                img {
                    grid-area: a;
                    margin: 0;
                    padding-right: 4em;
                }

                h2 {
                    font-size: var(--wp--preset--font-size--large);
                    grid-area: b;
                }

                div[itemprop="description"] {
                    grid-area: d;
                    padding-bottom: 3rem;
                    color: #444;
                }

                .price {
                    grid-area: c;

                    &::before {
                        content: "Prijs: ";
                    }
                }
            }
        }
    }
}

.products .product img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
}

#page #primary {
    .so-panel {
        .sow-image-container {
            margin-bottom: 1em;
            border: 1px solid #f2f2f2;
        }

        .widget-title {
            margin:  0 0 8px;
            padding: 0;
            background-color: transparent;
            font-size: 32px;
            font-weight: 300;
            letter-spacing: normal;
            text-transform: none;
            
            a {
                text-decoration: none;
                
                &:hover {
                    color: #333;
                }
            }
        }

    }
    
    .so-panel .so-widget-sow-image::after,
    .woocommerce ul.products li.product .add_to_cart_button {
        content: "Meer informatie";
        position: static;
        display: block;
        width: fit-content;
        min-width: 0;
        margin: 0 auto;
        padding: 0.618em 1em;
        background-color: #ebe9eb;
        color: #515151;
        opacity: 1;
        font-size: 100%;
        font-weight: 700;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        cursor: pointer;
        border-radius: 3px;
        transform: none;
        transition: ease 0.2s;
    }

    .so-panel .so-widget-sow-image:hover::after,
    .woocommerce ul.products li.product .add_to_cart_button:hover,
    .product:hover .button {
        background-color: #dfdcde;
        color: #f69581;
    }

    .products {
        display: flex;
        align-items: stretch;
        margin: 0;

        .product {
            float: none;
            border: none;
            
            @media (max-width: 768px) {
                width: 100%;
            }
        } 
    } 

    .widget ul li:before {
        content: none;
    }
}