.is-style-quicklinks {
    padding: 0;
    list-style: none;

    li {
        &:not(:first-child, :last-child) {
            padding: 0.5em 0;
        }

        a {
            display: flex;
            align-items: center;
            text-decoration: none;
    
            &::after {
                content: "";
                display: block;
                margin-left: 0.25em;
                width: 16px;
                height: 16px;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' %3E%3Cline x1='5' y1='12' x2='19' y2='12'/%3E%3Cpolyline points='12 5 19 12 12 19'/%3E%3C/svg%3E");
                transition: margin-left 0.5s;
            }
    
            &:hover {
                &::after {
                    margin-left: 0.5rem;
                }
            }
        }
    }
}